
.my-card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:20px;
}
.my-header{
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    
}
.my-title{
    font-size: xx-large;
    padding: 20px;
    

    color: black;
    display: inherit;
    text-align: center;
    flex-direction: inherit;
    justify-content: inherit;
}

.my-image{
    max-width: 40%;
    align-self: center;

}
.my-content{
    color: black;
    display: inherit;
    text-align: center;
    flex-direction:column;
    justify-content: space-evenly;
    font-family: inherit;
    flex-wrap:wrap;
    align-items: center;
    font-size: 14pt;
}
.my-label{

    color: black;
}
.my-form-field{
    color: rgb(106, 224, 70);
    min-width:40%;

}
.my-footer{
    padding-top:30px;
    color: black;
    text-align: center;
}
.my-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: large;
    min-height: 50px;
    min-width: 150px;
}
.my-button{
    font-size: medium;
}
.status-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-style:ridge;
    border-color: rgb(202, 202, 202);
    border-width: 4px;
    border-radius: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-width: 500px;
    background-color: rgb(255, 255, 255);

    color:  black;
    font-size: 16pt;
    font-family: inherit;
}
.space-adding-minor{
    padding:10px;
}
hr {
    display: block;
    margin: 10px 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, .12);
    width: 100%
  }