
.Title-text{
    font-size: xxx-large;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.mainToolbar{
    position:sticky;
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */

}

.mainRow{
   
    justify-content:center;


}

.centralize_this_section{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
